In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [3]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0   1           6.07          3.01           4.07          1.05  Iriscolor
1   2           6.03          2.03           4.04          1.03  Iriscolor
2   3           5.06          3.00           4.01          1.03  Iriscolor
3   4           5.05          2.05           4.00          1.03  Iriscolor
4   5           5.05          2.06           4.04          1.02  Iriscolor

In [4]:
irisDataset['Species'] = pd.factorize(irisDataset.Species)[0]

In [5]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           6.07          3.01           4.07          1.05        0
1   2           6.03          2.03           4.04          1.03        0
2   3           5.06          3.00           4.01          1.03        0
3   4           5.05          2.05           4.00          1.03        0
4   5           5.05          2.06           4.04          1.02        0

In [6]:
print(irisDataset)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    1           6.07          3.01           4.07          1.05        0
1    2           6.03          2.03           4.04          1.03        0
2    3           5.06          3.00           4.01          1.03        0
3    4           5.05          2.05           4.00          1.03        0
4    5           5.05          2.06           4.04          1.02        0
5    6           6.01          3.00           4.06          1.04        0
6    7           5.08          2.06           4.00          1.02        0
7    8           5.00          2.03           3.03          1.00        0
8    9           5.06          2.07           4.02          1.03        0
9   10           5.07          3.00           4.02          1.02        0
10  11           5.07          2.06           3.05          1.00        0
11  12           5.05          2.04           3.08          1.01        0
12  13           5.05          2.04           3.07          1.00        0
13  14           5.08          2.07           3.09          1.02        0
14  15           6.00          2.07           5.01          1.06        0
15  16           5.04          3.00           4.05          1.05        0
16  17           6.00          3.04           4.05          1.06        0
17  18           5.07          2.09           4.02          1.03        0
18  19           6.02          2.09           4.03          1.03        0
19  20           5.01          2.05           3.00          1.01        0
20  21           5.07          2.08           4.01          1.03        0
21  22           6.03          3.03           6.00          2.05        1
22  23           5.08          2.07           5.01          1.09        1
23  24           7.01          3.00           5.09          2.01        1
24  25           6.03          2.09           5.06          1.08        1
25  26           6.05          3.00           5.08          2.02        1
26  27           7.06          3.00           6.06          2.01        1
27  28           4.09          2.05           4.05          1.07        1
28  29           7.03          2.09           6.03          1.08        1
29  30           6.07          2.05           5.08          1.08        1
30  31           7.02          3.06           6.01          2.05        1
31  32           6.05          3.02           5.01          2.00        1
32  33           6.04          2.07           5.03          1.09        1
33  34           6.08          3.00           5.05          2.01        1
34  35           5.07          2.05           5.00          2.00        1
35  36           5.08          2.08           5.01          2.04        1
36  37           6.04          3.02           5.03          2.03        1
37  38           6.05          3.00           5.05          1.08        1
38  39           7.07          3.08           6.07          2.02        1
39  40           7.07          2.06           6.09          2.03        1
40  41           6.00          2.02           5.00          1.05        1
41  42           6.09          3.02           5.07          2.03        1
42  43           5.06          2.08           4.09          2.00        1
43  44           7.07          2.08           6.07          2.00        1
44  45           6.03          2.07           4.09          1.08        1
45  46           6.07          3.03           5.07          2.01        1
46  47           7.02          3.02           6.00          1.08        1
47  48           6.02          2.08           4.08          1.08        1
48  49           6.01          3.00           4.09          1.08        1
49  50           6.04          2.08           5.06          2.01        1

In [7]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [8]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            6.07          3.01           4.07          1.05        0
1            6.03          2.03           4.04          1.03        0
2            5.06          3.00           4.01          1.03        0
3            5.05          2.05           4.00          1.03        0
4            5.05          2.06           4.04          1.02        0
5            6.01          3.00           4.06          1.04        0
6            5.08          2.06           4.00          1.02        0
7            5.00          2.03           3.03          1.00        0
8            5.06          2.07           4.02          1.03        0
9            5.07          3.00           4.02          1.02        0
10           5.07          2.06           3.05          1.00        0
11           5.05          2.04           3.08          1.01        0
12           5.05          2.04           3.07          1.00        0
13           5.08          2.07           3.09          1.02        0
14           6.00          2.07           5.01          1.06        0
15           5.04          3.00           4.05          1.05        0
16           6.00          3.04           4.05          1.06        0
17           5.07          2.09           4.02          1.03        0
18           6.02          2.09           4.03          1.03        0
19           5.01          2.05           3.00          1.01        0
20           5.07          2.08           4.01          1.03        0
21           6.03          3.03           6.00          2.05        1
22           5.08          2.07           5.01          1.09        1
23           7.01          3.00           5.09          2.01        1
24           6.03          2.09           5.06          1.08        1
25           6.05          3.00           5.08          2.02        1
26           7.06          3.00           6.06          2.01        1
27           4.09          2.05           4.05          1.07        1
28           7.03          2.09           6.03          1.08        1
29           6.07          2.05           5.08          1.08        1
30           7.02          3.06           6.01          2.05        1
31           6.05          3.02           5.01          2.00        1
32           6.04          2.07           5.03          1.09        1
33           6.08          3.00           5.05          2.01        1
34           5.07          2.05           5.00          2.00        1
35           5.08          2.08           5.01          2.04        1
36           6.04          3.02           5.03          2.03        1
37           6.05          3.00           5.05          1.08        1
38           7.07          3.08           6.07          2.02        1
39           7.07          2.06           6.09          2.03        1
40           6.00          2.02           5.00          1.05        1
41           6.09          3.02           5.07          2.03        1
42           5.06          2.08           4.09          2.00        1
43           7.07          2.08           6.07          2.00        1
44           6.03          2.07           4.09          1.08        1
45           6.07          3.03           5.07          2.01        1
46           7.02          3.02           6.00          1.08        1
47           6.02          2.08           4.08          1.08        1
48           6.01          3.00           4.09          1.08        1
49           6.04          2.08           5.06          2.01        1

In [9]:
irisDataset = irisDataset.to_numpy()

In [10]:
print(irisDataset)

[[6.07 3.01 4.07 1.05 0.  ]
 [6.03 2.03 4.04 1.03 0.  ]
 [5.06 3.   4.01 1.03 0.  ]
 [5.05 2.05 4.   1.03 0.  ]
 [5.05 2.06 4.04 1.02 0.  ]
 [6.01 3.   4.06 1.04 0.  ]
 [5.08 2.06 4.   1.02 0.  ]
 [5.   2.03 3.03 1.   0.  ]
 [5.06 2.07 4.02 1.03 0.  ]
 [5.07 3.   4.02 1.02 0.  ]
 [5.07 2.06 3.05 1.   0.  ]
 [5.05 2.04 3.08 1.01 0.  ]
 [5.05 2.04 3.07 1.   0.  ]
 [5.08 2.07 3.09 1.02 0.  ]
 [6.   2.07 5.01 1.06 0.  ]
 [5.04 3.   4.05 1.05 0.  ]
 [6.   3.04 4.05 1.06 0.  ]
 [5.07 2.09 4.02 1.03 0.  ]
 [6.02 2.09 4.03 1.03 0.  ]
 [5.01 2.05 3.   1.01 0.  ]
 [5.07 2.08 4.01 1.03 0.  ]
 [6.03 3.03 6.   2.05 1.  ]
 [5.08 2.07 5.01 1.09 1.  ]
 [7.01 3.   5.09 2.01 1.  ]
 [6.03 2.09 5.06 1.08 1.  ]
 [6.05 3.   5.08 2.02 1.  ]
 [7.06 3.   6.06 2.01 1.  ]
 [4.09 2.05 4.05 1.07 1.  ]
 [7.03 2.09 6.03 1.08 1.  ]
 [6.07 2.05 5.08 1.08 1.  ]
 [7.02 3.06 6.01 2.05 1.  ]
 [6.05 3.02 5.01 2.   1.  ]
 [6.04 2.07 5.03 1.09 1.  ]
 [6.08 3.   5.05 2.01 1.  ]
 [5.07 2.05 5.   2.   1.  ]
 [5.08 2.08 5.01 2.04 1.  ]
 [6.04 3.02 5.03 2.03 1.  ]
 [6.05 3.   5.05 1.08 1.  ]
 [7.07 3.08 6.07 2.02 1.  ]
 [7.07 2.06 6.09 2.03 1.  ]
 [6.   2.02 5.   1.05 1.  ]
 [6.09 3.02 5.07 2.03 1.  ]
 [5.06 2.08 4.09 2.   1.  ]
 [7.07 2.08 6.07 2.   1.  ]
 [6.03 2.07 4.09 1.08 1.  ]
 [6.07 3.03 5.07 2.01 1.  ]
 [7.02 3.02 6.   1.08 1.  ]
 [6.02 2.08 4.08 1.08 1.  ]
 [6.01 3.   4.09 1.08 1.  ]
 [6.04 2.08 5.06 2.01 1.  ]]

In [11]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]), axis=0)

In [12]:
print(dataTesting)
len(dataTesting)

[[6.   2.02 5.   1.05 1.  ]
 [6.09 3.02 5.07 2.03 1.  ]
 [5.06 2.08 4.09 2.   1.  ]
 [7.07 2.08 6.07 2.   1.  ]
 [6.03 2.07 4.09 1.08 1.  ]
 [6.07 3.03 5.07 2.01 1.  ]
 [7.02 3.02 6.   1.08 1.  ]
 [6.02 2.08 4.08 1.08 1.  ]
 [6.01 3.   4.09 1.08 1.  ]
 [6.04 2.08 5.06 2.01 1.  ]]

10

In [13]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

40

In [14]:
model = tree.DecisionTreeClassifier()

In [15]:
model = model.fit(inputTraining, labelTraining)

In [16]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [17]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Preediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100,"%")

Preediksi Benar : 9 data
Prediksi Salah :  1 data
Akurasi : 90.0 %